<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="namespace" value="Irt.Deployment.Entities"/>
  </appSettings>
  <connectionStrings>
    <add name="default" providerName="Msslq2008" connectionString="Data Source=SLC03QGV.us.oracle.com\DEV2008R2;Initial Catalog=Clarix_SystemConfig;Persist Security Info=True;User ID=sa;Password=get2Tahiti"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
